<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
  <meta charset="UTF-8">
  <title>shopping sell main page</title>
</head>
<body>
<div layout:fragment = "content">
  <h1>Shopping credit check page</h1> <br/>

  <span th:if="${session.credit_check} == '0'">
    <form th:action="@{/shopping_credit_auth}" method="post">
      <button type="submit">인증하기</button>
    </form>
  </span>

</div>
</body>
</html>