<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment = "configFragment">
  <!--<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE"></title>-->

  <!-- 공통 css파일 -->
  <link rel="stylesheet" th:href="@{/css/config.css}" type=>

  <!-- 개별 css파일 -->
  <th:block layout:fragment="css"> </th:block>

  <!-- 공통 js-->

  <!-- content 스크립트 -->
  <th:block layout:fragment="script"> </th:block>

</th:block>
</html>