<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">

  <header th:fragment="headerFragment">

      <div class = header>

        <a href="/">
            <img th:src="@{/img/main_page.PNG}" width="150px" height="80px"/>
        </a>
          header area

      <span th:if="${session.userid}">
        <div style="float:right">
            ID : <span th:text="${session.userid}"></span><br>
            소유 권한 : <span th:text="${session.role}"></span> <br>
            <!--<span th:if="${session.}">-->
             <button type="button" onclick="location.href='/usercheck'">마이페이지</button>

             <button type="button" onclick="location.href='/market_bascket'">장바구니</button>
             <form id="logout" action="/logout" method="POST">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <input type="submit" value="로그아웃"/>
             </form>
        </div>
      </span>
      <span th:unless="${session.userid}">
        <div style="float:right">
          <a href = "/login">go to login</a> <br/>
          <a href = "/signup">go to sign up</a> <br/>
        </div>
      </span>
    </div>
  </header>
</html>