<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<th:block  th:fragment="sidebarFragment">
  <header>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </header>
  <body>
    <div>
      <link rel="stylesheet" href="/../../static/css/config.css">


      <!--<span th:if="${session.userid}">-->
        <!--<a href = "/posthome">게시판 가기</a> <br/>-->
        <div class = "sidebar">

          <ul>
            sidebar area <br/>
            <li><a href = "/shopping_sell_main">사러가기</a>
              <ul>
                <li><a href = "/shopping_sell_woman">여자옷?</a></li>
                <li><a href = "/shopping_sell_man">남자옷?</a></li>
                <li><a href = "/#">기타 등등</a></li>
              </ul>
            </li>
            <br/>
            <li><a href = "/shopping_sell_main">팔러가기</a>
              <ul>
                <li><a href = "/shopping_sell_woman">여자옷?</a></li>
                <li><a href = "/shopping_sell_man">남자옷?</a></li>
                <li><a href = "/#">기타 등등</a></li>
              </ul>
            </li>
            <br/>
            <li><a href = "/posthome">게시판</a>
              <ul>
                <li><a href = "/freepostpage">자유게시판</a></li>
                <li><a href = "/faqpostpage">FAQ 자주하는 질문</a></li>
                <li><a href = "/questionpostpage">1:1 문의</a></li>
              </ul>
            </li>
          </ul>

      <!--</span>

      <span th:unless="${session.userid}">
      </span>-->
    </div>
    </div>

  </body>
</th:block>
</html>