.config {
    /*width: 940px;
    margin: 1px auto;*/
    display:grid;
    align-content: baseline;
    gap:32px;
    border: 1px solid #bcbcbc;
}
.container{
    display:flex;
    flex-direction:row;
}
.header {
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #bcbcbc;
}

.content {
    width: auto;
    display:flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 20px;
    margin-left : 40px;
    /*float: left;
    border: 1px solid #bcbcbc;*/
    border-radius: 20px;
    background : #bcbcbc;
}
/*.sidebar {
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px  solid #bcbcbc;

    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    background:#0ff1ce;
    padding : 24px;
    border-radius:0 16px 16px 0;
}*/
.sidebar {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #0ff1ce;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
}


.footer {
    clear: both;
    padding: 20px;
    border: 1px solid #bcbcbc;
}