.config {
    /*width: 940px;
    margin: 1px auto;*/
    display:grid;
    align-content: baseline;
    gap:32px;
    border: 2px solid #bcbcbc;
}
.container{
    display:flex;
    flex-direction:row;
}
.header {
    padding: 20px;
    margin-bottom: 40px;
    border: 2px solid #bcbcbc;
    width:auto;
    height:100px;
    background:#f6b3b3;
    border-radius: 20px;
}

.content {
    width: 100%;
    /*display:flex;*/
    display:flex;
    flex-direction: column;
    padding: 40px;
    margin-bottom: 40px;
    margin-left : 40px;
    /*float: right;*/
    /*border: 1px solid #bcbcbc;*/
    border-radius: 20px;
    background : #bcbcbc;
    align-items:center;
}
/*.sidebar {
    width: auto;
    padding: 20px;
    margin-bottom: 20px;
    float: left;
    border: 1px  solid #bcbcbc;

    display:flex;
    flex-direction: row;
    margin-bottom: 20px;
    background:#0ff1ce;
    padding : 24px;
    border-radius:0 16px 16px 0;
}*/
.sidebar {
    display: flex;
    overflow: hidden;
    width: 250px;
    margin-bottom: 40px;
    background-color: #0ff1ce;
    color: #000000;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #bcbcbc;

}

.footer {
    clear: both;
    padding: 40px;
    border: 2px solid #bcbcbc;
    width:auto;
    height:100px;
    background:#f8f895;
    border-radius: 20px;
}